<div class="social">
    <ul>
        <li>
            <a href="{{ settings.social__tiktok }}">
                {% render 'icon--tiktok' %}
            </a>
        </li>
        <li>
            <a href="{{ settings.social__twitter }}">
                {% render 'icon--x' %}
            </a>
        </li>
        <li>
            <a href="{{ settings.social__instagram }}">
                {% render 'icon--instagram' %}
            </a>
        </li>
    </ul>
</div>