{{ 'component--sidebar.css' | asset_url | stylesheet_tag }}

<section class="sidebar">

    <div class="upper">

        <a href="/">
            {% comment %} {% render 'icon--alien' %} {% endcomment %}
            <img src="https://cdn.shopify.com/s/files/1/0453/4730/7681/files/lafrance-neon.png?v=1713372182" />
        </a>

        <ul>
            <li>
                <h3>Categories</h3>
            </li>
            {% for l in linklists.collections.links %}
    
                <li>
                    <a href="{{ l.url }}" title="{{ l.title }}">
                        {{ l.title }}
                    </a>
                </li>
                
            {% endfor %}
        </ul>

    </div>

    <div class="lower">
        <a href="/">
            {% render 'lf-white--outline' %}
        </a>
    </div>

</section>