<div class="mobile-nav">
    <div class="row">

        <div class="burger-holder">
            {% render 'component--hamburger' %}
        </div>

        <div class="logo">
            <a href="/"><img src="https://cdn.shopify.com/s/files/1/0453/4730/7681/files/lafrance-neon.png?v=1713372182" /></a>
        </div>

        <div class="cart-link" data-ajax-cart-toggle-class-button="js-my-cart-open">
         
            <div class="counter">

                <span class="cart-number" data-ajax-cart-bind-state="cart.item_count">
                    {{ cart.item_count }}
                </span>

                <span class="icon">
                    {% render 'icon--cart' %}
                </span>

            </div>

            <div class="cart-text">
                CART
            </div>
           
        </div>

    </div>
</div>