
<div class="desktop-nav">
    <div class="row">

        <div class="cart-link-holder cart-nav-opener" data-ajax-cart-toggle-class-button="js-my-cart-open">

            <div class="counter">

                <span class="cart-number" data-ajax-cart-bind-state="cart.item_count">
                    {{ cart.item_count }}
                </span>

                <span class="icon">
                    {% render 'icon--cart' %}
                </span>

            </div>

            <div class="cart-text">
                CART
            </div>
            
        </div>

    </div>
</div>

