*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {

    --black: #000000;
    --white: #ffffff;
    --bullet: 'Bullet', sans-serif;
    --abc: 'ABC', sans-serif;
    --abc-thick: 'ABC Thick', sans-serif;
    --border-white: 1px solid var(--white);

}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--white);
    font-family: var(--abc);
    font-weight: 100;
    width: 100%;
    height: 100vh;
    background: var(--black);
    font-size: 100%;
}

.desktop {
    display: block;
}
.mobile {
    display: none;
}
@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
        height: auto;
    }

    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

a,
input,
textarea,
button {
    font-family: var(--abc);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input {
    outline: 0;
}

input:focus,
input:focus-visible,
input:focus-within {
    outline: 0;
} 

main {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    opacity: 0;
}

@media screen and (max-width: 767px) {
    main {
        overflow-x: auto;
        overflow-y: auto;
        height: auto;
        opacity: 0;
    }
}

.site-container {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

@media screen and (max-width: 767px) {

    .site-container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
    }

}

img {
    width: 100%;
}

svg {
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 100;
}

.default-page {
    padding: 50px 30px;
}

.default-content p,
.default-content span {
    line-height: 1.4;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.privacy-page h1 {
    text-transform: uppercase;
    font-family: var(--abc-thick);
}

.page-content.faq-page {
    padding-right: 30px;
}

/*
* Open/Close Cart Drawer
*/
.js-my-cart-open .cart-drawer {
    transform: translateX(0px);
}

details {
    list-style: none !important;
}

summary::-webkit-details-marker {
    display: none !important;
}

details::-webkit-details-marker {
    display: none !important;
}

.desaturate {
    filter: saturate(0);
}

#challenge {
    .site-container {
        height: 100vh;
    }

    main {
        display: flex;
        align-items: center;
    }
}

details > summary {
    list-style: none;
}

.template-404 {
    .site-container {
        height: 100vh;
    }

    main {
        display: flex;
        align-items: center;
    }
}

.privacy-page {
    h1 {
        font-size: 14px;
    }
}
.privacy-page-content {
    font-size: 14px;
    padding: 60px 20px; 
}


/*
* Background Videos
*/
.background-videos {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: visible;
}

.background-videos.mobile {
    display: none;
}

.background-videos.desktop {
    display: block;
}

@media screen and (max-width: 767px) {

    .background-videos.mobile {
        display: block;
        position: fixed;
    }
    .background-videos.desktop {
        display: none;
    }

}


@import './cart-drawer.scss';
@import './preloader.scss';
@import './navbar.scss';
@import './navbar-overlay.scss';
@import './product-card.scss';
@import './footer.scss';