.navbar-mobile-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background: var(--black);
    color: var(--white);
    display: none;

    .wrap {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
    }

    .close-overlay {
        position: absolute;
        top: 30px;
        left: 10px;
        font-size: 35px;
        line-height: 0;
    }


    h3 {
        font-size: 14px;
        font-family: var(--abc-thick);
        text-transform: uppercase;
        margin: 0 0 10px 0;
    }

    ul {
        text-align: center;
        a {
            font-size: 14px;
            text-transform: uppercase;
        }

        a:hover {
            text-shadow: 0 0 2px rgba(256, 169, 209, 0.8), 0 0 4px rgba(256, 169, 209, 0.6), 0 0 6px rgba(256, 169, 209, 0.4), 0 0 8px rgba(256, 169, 209, 0.2);
        }
    }

    .lower {
        display: flex;
        justify-content: center;
        padding: 0 0 30px 0;

        a {
            text-align: center;
        }

        svg {
            width: 50%;
            max-width: 100%;
            display: block;
            margin: auto;
        }
    }

}