.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;

    .preloader-wrap {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .preloader-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        width: 90%;
        max-width: 640px;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    svg {
        display: block;
        width: 100% !important;
    }

    .progress-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .progress-bar {
        position: relative;
        display: block;
        width: 100%;
        position: relative;
        z-index: 1;

        .progress-indicator {
            height: 2px;
            width: 0%;
            border-radius: 2px;
            background: var(--white);
        }
    }
    

    .start,
    .end {
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 20px;
    }

}

.loading {
    animation: widther 3s ease-in-out forwards;
}
.shrink {
    animation: shrinker 2s ease-out forwards;
    animation-delay: 3s;
}

.preloader-content {

}

.progress-indicator {
    
}

@keyframes widther {
    0% { width: 0%; }
    60% { width: 60%; }
    80% { width: 70%; }
    100% { width: 100%; }
}

@keyframes shrinker {
    0% { transform: scale(1); }
    100% { transform: scale(0); }
}