.product-card {

    .image {
        width: 100%;
        display: block;
        margin: 0 0 20px 0;
        filter: drop-shadow(rgba(256, 169, 209, 1) 0px 0px 10px);

        a {
            display: block;
        }

        img {
            display: block;
        }
    }

    .title {
        text-align: center;
    }

    h2 {
        font-size: 24px;
        font-family: var(--bullet);
        margin: 0 0 4px 0;
        line-height: 0.8;
        transition: all 0.12s ease-in;
    }

    .price {
        text-align: center;
        font-family: var(--abc-thick);
        font-size: 14px;
    }

}

.product-card:hover {
   
    h2 {
        text-shadow: 0 0 2px rgba(256, 169, 209, 0.8), 0 0 4px rgba(256, 169, 209, 0.6), 0 0 6px rgba(256, 169, 209, 0.4), 0 0 8px rgba(256, 169, 209, 0.2);
    }

}