<style>
    #404-not-found {
        height: 100vh;
    }

    .fourohfour {
        padding: 0 30px;
    }
</style>
<div class="fourohfour">
    <h1>404 Page Not Found</h1>
    <h2>The page you requested does not exist. Click <a href="/collections/all">here</a> to continue shopping.</h2>


</div>
