{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}

<div class="index">

  <ul class="product-grid">
    {% for product in collections.all.products %}
      {% render 'card--product', product: product %}
    {% endfor %}
  </ul>
  
</div>

