<div class="default-page {% if page.handle == 'privacy-policy' %} privacy-page{% endif %}">
    <h1>{% if page.handle == 'privacy-policy' %} {{ shop.name }} {% endif %} {{ page.title }}</h1>

    <div class="default-content {% if page.handle == 'privacy-policy' %} privacy-page-content{% endif %}">
        {{ page.content }}
    </div>
</div>


